<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lhx.recovery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main_interface">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoadActivity" />
        <activity android:name=".person_Activity"></activity>
        <activity android:name=".bookingorder"></activity>
        <activity android:name=".choosedate"></activity>
        <activity android:name=".addaddress"></activity>
        <activity android:name=".choosetime"></activity>
        <activity android:name=".addressmanage"></activity>
        <activity android:name=".register"></activity>
        <activity android:name=".seeyue"></activity>
        <activity android:name=".changeaccount"></activity>
        <activity android:name=".lookorder"></activity>
        <activity android:name=".showprice"></activity>


    </application>
</manifest>